# values.yaml

size: small  # small | mid | large

global:
  registrationKey: ""

bridge:
  image:
    repository: merlyai/bridge
    tag: v0.16.1

mentor:
  image:
    repository: merlyai/mentor
    pullPolicy: Always
    tag: v0.16.1
  env:
    mm_models_root: /data/.models/
  arguments:
    - "-N"
    - "daemon"
    # - "--stdout"

merlyUi:
  image:
    repository: merlyai/ui
    tag: v0.16.1
  service: {}

ingress:
  enabled: false
  className: ""
  annotations: {}
  hosts:
    - host: merly.local
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls: []

# Single set of resources per size, shared by *all* components
profiles:
  small:
    resources:
      requests:
        cpu: "1"
        memory: "1Gi"
      limits:
        cpu: "2"
        memory: "2Gi"

  mid:
    resources:
      requests:
        cpu: "2"
        memory: "4Gi"
      limits:
        cpu: "4"
        memory: "8Gi"

  large:
    resources:
      requests:
        cpu: "8"
        memory: "16Gi"
      limits:
        cpu: "16"
        memory: "24Gi"
